[
  {trafficlight,[
      {http_port, 8080},
      {db_host, "localhost"},
      {db_port, 27017},
      {inet4, "127.0.0.1"},
      {inet6, "::1"}
    ]}
    ,
    {sync, [
    {growl, all}
    ]},
  {lager, [
      {handlers, [
          {lager_file_backend, [{file, "log/debug.log"}, {level, debug}, {size, 104857600}, {count, 5}]}
        ]}
    ]},
   {ranch,[
		{profile, false}
    ]}
].

