{deps, [
	{cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git", "1.1.x"}}
%	,{pbkdf2, ".*", {git, "https://github.com/whitelynx/erlang-pbkdf2.git", "HEAD"}}
%	,{mongodb, ".*", {git, "https://github.com/comtihon/mongodb-erlang.git", "HEAD"}}
%	,{mongrel, ".*", {git, "https://github.com/kkcro/mongrel", "HEAD"}}
	,{sync, ".*", {git, "git://github.com/rustyio/sync.git", "HEAD"}}
	,{lager, ".*", {git, "git://github.com/basho/lager.git", "HEAD"}}
	,{uuid, ".*", {git, "git://github.com/travis/erlang-uuid.git", "HEAD"}}
	,{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", "HEAD"}}
%	,{mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git", "HEAD"}}
%	,{z_stdlib, ".*", {git, "https://github.com/zotonic/z_stdlib.git", "HEAD"}}
%	,{erl_img, ".*", {git, "https://github.com/evanmiller/erl_img.git", "HEAD"}}
%	,{erlydtl, ".*", {git, "git://github.com/erlydtl/erlydtl.git", "HEAD"}}
	,{bullet, ".*", {git, "https://github.com/ninenines/bullet.git", "HEAD"}}
	,{cowboy_session, ".*", {git, "git://github.com/chvanikoff/cowboy_session.git", "HEAD"}}
	,{ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git", "HEAD"}}
%	,{exec, ".*", {git, "git://github.com/saleyn/erlexec.git", "HEAD"}}
%	,{erlexec, ".*", {git, "https://github.com/saleyn/erlexec.git", {branch, master}}}
%	,{stylish, ".*", {git, "git://github.com/HashNuke/stylish.git", "HEAD"}}
]}.
